body {
    background-color: rgb(243, 243, 243);
}

.header {
    display: flex;
    background-color: aqua;
    padding-top: 2rem;
    padding-left: 2rem;
    margin-top: -3rem;
    margin-left: -2rem;
    margin-right: -2rem;
}

.navigation {
    margin: 2rem;
    margin-right: 4rem;
    margin-left: auto;
    justify-content: flex-end;
}

.navbar-button {
    background-color: rgba(255, 255, 255, 0);
    border: none;
    font-size: medium;
    margin-left: 2rem;
}

.container-image {
    display: flex;
}

.image {
    margin-left: auto;
    margin-right: auto;
    height: 35rem;
    width: 70rem;
    object-fit: cover;
    object-position: 20% 0;
}

.row {
    display: -webkit-flex;
    display: flex;
}

.column {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: .8rem;
}

.footer {
    padding: .8rem;
}

.Hamburger-Menu {
    display: none;
}

@media (max-width: 768px) {
    .navigation {
        display: none;
    }

    .Hamburger-Menu {
        display: block;
        height: 2.8rem;
        margin-top: 1rem;
        margin-left: auto;
        justify-content: flex-end;
    }

    .logo {
        display: none;
    }

    h1 {
        font-size: medium;
    }
}